# Build & Cache Directories
workspace/
out/
tmp/
work/
logs/
*.log
scratch/
build/tools/ampack/target/

# Compiled Recompilable Images & Objects (Ignored)
system-permanent.img
boot-*.img
aquario*.dtb
uboot-gxl_*.bin

# Allow essential proprietary hardware blobs & prebuilts
!*.ko
!**/prebuilts/bootloader-sd-loading-*.bin
!**/prebuilts/ramdisk-base-*.img
!**/prebuilts/apps/**/*.apk

# Python & Compiled Cache
__pycache__/
*.pyc
*.pyo

# Docker runtime state
.docker/
.env

# Temporary artifacts
*.tmp
*.bak
*.swp

# OS Files
.DS_Store
Thumbs.db
